.reviews {
  width: 100%;
  max-width: 1180px;
  margin: 150px auto;
  display: flex;
}
.reviews .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 75px;
}
.reviews-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 25px;
  max-width: 854px;
}
.reviews-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}
.reviews-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #b4b7ba;
  max-width: 571px;
}
.reviews-cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 26px;
}
.reviews-cards-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 26px;
}
.reviews-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  border-radius: 24px;
  padding: 32px 28px;
  background-color: #fbfbfb;
}
.reviews-item-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
}
.reviews-item-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: #989899;
}
.reviews-item-img {
}

.reviews-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
