.reviews {
  width: 100%;
  max-width: 335px;
  margin: 0 auto 100px auto;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .reviews {
    margin: 0 auto 120px auto;
    max-width: 704px;
  }
}

@media only screen and (min-width: 1180px) {
  .reviews {
    max-width: 1180px;
    margin: 0 auto 150px auto;
  }
}

.reviews .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .reviews .container {
    gap: 75px;
  }
}

.reviews-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 25px;
  max-width: 335px;
}

@media only screen and (min-width: 768px) {
  .reviews-text {
    max-width: 854px;
  }
}

@media only screen and (min-width: 1180px) {
  .reviews-text {
    max-width: 800px;
  }
}

.reviews-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  color: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .reviews-title {
    font-size: 48px;
  }
}

.reviews-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: #b4b7ba;
}

@media only screen and (min-width: 768px) {
  .reviews-description {
    font-size: 14px;
    line-height: 1.28;
    max-width: 571px;
  }
}

.reviews-cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 26px;
}
.reviews-cards-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 26px;
}
.reviews-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  border-radius: 24px;
  padding: 32px 8px;
  background-color: #fbfbfb;
}

@media only screen and (min-width: 1180px) {
  .reviews-item {
    padding: 32px 28px;
  }
}

.romashenko,
.trachuk {
  display: none;
}

@media only screen and (min-width: 768px) {
  .romashenko {
    display: flex;
  }
}

@media only screen and (min-width: 1180px) {
  .trachuk {
    display: flex;
  }
}

.reviews-item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;
}
.reviews-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: #989899;
}
.reviews-item-img {
}

.reviews-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
